<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-white mt-5 mb-5">Welcome back, <b>{{username}}</b></p>
        </div>
    </div>
    <!-- row -->
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block">
                <h2 class="tm-block-title">Users List</h2>
                <div class="tm-notification-items">
                    {{#each user_list}}
                    <div class="media tm-notification-item">
                        <div class="media-body">
                            <p class="mb-2"> <a href="user/{{_id}}" class="tm-notification-link">{{name}}</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <canvas id="lineChart"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block">
                <h2 class="tm-block-title">Top 10 Product</h2>
                {{#each arr}}
                <div class="media tm-notification-item">
                    <div class="media-body">
                        <p class="mb-2"><b>{{title}}</b> sold <b>{{sale}} Units</b></p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller">
                <h2 class="tm-block-title">Storage Information</h2>
                <div id="pieChartContainer">
                    <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>
                </div>
            </div>
        </div> --}}
        {{!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                <h2 class="tm-block-title">Notification List</h2>
                <div class="tm-notification-items">
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img src="img/notification-01.jpg" alt="Avatar Image"
                                class="rounded-circle"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Jessica</b> and <b>6 others</b> sent you new <a href="#"
                                    class="tm-notification-link">product updates</a>. Check new orders.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img src="img/notification-02.jpg" alt="Avatar Image"
                                class="rounded-circle"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Oliver Too</b> and <b>6 others</b> sent you existing <a href="#"
                                    class="tm-notification-link">product updates</a>. Read more reports.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img src="img/notification-03.jpg" alt="Avatar Image"
                                class="rounded-circle"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Victoria</b> and <b>6 others</b> sent you <a href="#"
                                    class="tm-notification-link">order updates</a>. Read order information.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img src="img/notification-01.jpg" alt="Avatar Image"
                                class="rounded-circle"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Laura Cute</b> and <b>6 others</b> sent you <a href="#"
                                    class="tm-notification-link">product records</a>.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img src="img/notification-02.jpg" alt="Avatar Image"
                                class="rounded-circle"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Samantha</b> and <b>6 others</b> sent you <a href="#"
                                    class="tm-notification-link">order stuffs</a>.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img src="img/notification-03.jpg" alt="Avatar Image"
                                class="rounded-circle"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Sophie</b> and <b>6 others</b> sent you <a href="#"
                                    class="tm-notification-link">product updates</a>.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img src="img/notification-01.jpg" alt="Avatar Image"
                                class="rounded-circle"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Lily A</b> and <b>6 others</b> sent you <a href="#"
                                    class="tm-notification-link">product updates</a>.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img src="img/notification-02.jpg" alt="Avatar Image"
                                class="rounded-circle"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Amara</b> and <b>6 others</b> sent you <a href="#"
                                    class="tm-notification-link">product updates</a>.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img src="img/notification-03.jpg" alt="Avatar Image"
                                class="rounded-circle"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Cinthela</b> and <b>6 others</b> sent you <a href="#"
                                    class="tm-notification-link">product updates</a>.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                <h2 class="tm-block-title">Orders List</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">USER</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">TOTAL QUANTITY</th>
                            <th scope="col">TOTAL PRICE</th>
                            <th scope="col">FIRST NAME</th>
                            <th scope="col">LAST NAME</th>
                            <th scope="col">ADDRESS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachData orders}}
                        <tr>
                            <th scope="row"><b>#{{math index "+" 1 }}</b></th>
                            <th scope="row"><b>{{username}}</b></th>
                            <td>
                                <div class="tm-status-circle moving">
                                </div>Moving
                            </td>
                            <td><b>{{totalQty}}</b></td>
                            <td><b>{{totalPrice}}</b></td>
                            <td><b>{{firstname}}</b></td>
                            <td>{{lastname}}</td>
                            <td>{{address}}</td>
                        </tr>
                        {{/eachData}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>