<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Edit Product</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <form action="" method="post" class="tm-edit-product-form" enctype="multipart/form-data">
                            <div class="form-group mb-3">
                                <label for="name">Product Name</label>
                                <input id="name" name="name" type="text" value="{{game.title}}"
                                    class="form-control validate" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="description">Description</label>
                                <textarea id="description" name="description" class="form-control validate tm-small"
                                    rows="5">{{game.Description}}</textarea>
                            </div>
                            {{!-- <div class="form-group mb-3">
                                <label for="category">Category</label>
                                <select class="custom-select tm-select-accounts" id="category">
                                    <option>Select category</option>
                                    <option value="1" selected>New Arrival</option>
                                    <option value="2">Most Popular</option>
                                    <option value="3">Trending</option>
                                </select>
                            </div> --}}
                            <div class="row">
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="basePrice">BASE PRICE
                                    </label>
                                    <input id="basePrice" name="basePrice" type="text" value="{{game.basePrice}}"
                                        class="form-control validate" data-large-mode="true" required />
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="cover">IMAGE LINK
                                    </label>
                                    <input id="cover" name="cover" type="text" value="{{game.cover}} "
                                        class="form-control validate" required />
                                </div>
                            </div>
                            <h6 style="color:white;padding-left:5%">Choose your mode</h6>
                            <div class="custom-file">
                                <div class="form-check" style="margin-left:5%">
                                    <input type="checkbox" name="multiplayer" class="form-check-input"
                                        id="exampleCheck1" value="true">
                                    <label class="form-check-label" for="exampleCheck1">Multiplayer</label>
                                </div>
                                <div class="form-check" style="margin-left:5%">
                                    <input type="checkbox" name="singleplayer" class="form-check-input"
                                        id="exampleCheck1" value="true">
                                    <label class="form-check-label" for="exampleCheck1">Single Player</label>
                                </div>
                            </div>
                            <h6 style="color:white;padding-top:5%;padding-left:5%">Choose your system requirement</h6>
                            <div class="custom-file">
                                <div class="form-check" style="margin-left:5%">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios1" value="1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        Low
                                    </label>
                                </div>
                                <div class="form-check" style="margin-left:5%">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios2" value="2">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Medium
                                    </label>
                                </div>
                                <div class="form-check" style="margin-left:5%">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios2" value="3">
                                    <label class="form-check-label" for="exampleRadios2">
                                        High
                                    </label>
                                </div>
                                <div class="form-check" style="margin-left:5%">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios2" value="4">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Ultra
                                    </label>
                                </div>
                            </div>

                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                        <div class="tm-product-img-edit mx-auto">
                            <img src="{{game.cover}}" alt="Product image" class="img-fluid d-block mx-auto">
                            {{!-- <i class="fas fa-cloud-upload-alt tm-upload-icon"
                                onclick="//document.getElementById('fileInput').click();"></i> --}}
                        </div>
                        <div class="custom-file mt-4 ml-5">
                            <div class="form-group" style="margin-left: 10%;">
                                <label for="exampleFormControlFile1">Choose your image</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1"
                                    name="coverImage">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pt-5">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Now</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>