<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Search form -->
        <div class="col-6">
            <div class="search-bar">
                <div class="wrap">
                    <form class="search">
                        <input type="text" class="searchTerm" placeholder="What are you looking for?">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">PRODUCT NAME</th>
                                <th scope="col">BASE PRICE</th>
                                <th scope="col">Image Link</th>
                                <th scope="col">ID Number</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each games}}
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td> <a href="/edit-product/{{id}}">{{title}}</a></td>
                                <td>{{basePrice}}</td>
                                <td>{{cover}}</td>
                                <td>{{id}}</td>
                                <td>
                                    <form method="POST">
                                        <button name="title" value="{{title}}" type="submit"
                                            class="tm-product-delete-link" formaction="/product/del">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a href="/add-product" class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
                <button class="btn btn-primary btn-block text-uppercase">
                    Delete selected products
                </button>
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        <ul class="pagination">
                            <div class="pagination pagination-centered">
                                {{#paginate pagination type="first"}}
                                <li {{#if disabled}}class="disabled" {{/if}}><a href="{{parent}}page={{n}}">First</a>
                                </li>
                                {{/paginate}}
                                {{#paginate pagination type="previous"}}
                                <li {{#if disabled}}class="disabled" {{/if}}><a href="{{parent}}page={{n}}">Prev</a>
                                </li>
                                {{/paginate}}
                                {{#paginate pagination type="middle" limit="3"}}
                                <li {{#if active}}class="active" {{/if}}><a href="{{parent}}page={{n}}">{{n}}</a></li>
                                {{/paginate}}
                                {{#paginate pagination type="next"}}
                                <li {{#if disabled}}class="disabled" {{/if}}><a href="{{parent}}page={{n}}">Next</a>
                                </li>
                                {{/paginate}}
                                {{#paginate pagination type="last"}}
                                <li {{#if disabled}}class="disabled" {{/if}}><a href="{{parent}}page={{n}}">Last</a>
                                </li>
                                {{/paginate}}
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                <h2 class="tm-block-title">Product Categories</h2>
                <div class="tm-product-table-container">
                    <table class="table tm-table-small tm-product-table">
                        <tbody>
                            <tr>
                                <td class="tm-product-name"><a href="/search/Strategy">Strategy</a></td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tm-product-name"><a href="/search/Fighting">Fighting</a></td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tm-product-name"><a href="/search/Shooter">Shooter</a></td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tm-product-name"><a href="/search/RPG">RPG</a></td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                <!-- table container -->
                <button class="btn btn-primary btn-block text-uppercase mb-3">
                    Add new category
                </button>
            </div>
        </div>
    </div>
</div>